*{
    font-family: 'Courier New', Courier, monospace;
}
body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:#4A628A;
}
.container {
    background: #B9E5E8;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);

}
input {
    width: 50px;
    margin: 2px;
    text-align: center;
    font-size: 30px;
    margin-left: 3rem;
    font-weight: 900;
    background-color:#DFF2EB;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    margin-top: 1.4rem;
}
button {
    padding: 10px;
    background-color:#7AB2D3;
    border: none;
    border-radius: 10px;
}
